<article class="h-entry">
  <% if entry.name %>
    <h2 class="p-name"><%= link_to entry.name, entry %></h2>
  <% end %>

  <div class="e-content">
    <div class="swiper" data-controller="photo">
      <div class="swiper-wrapper">
        <% entry.photos_with_alt.each do |photo_with_alt| %>
          <div class="swiper-slide">
            <%= image_tag photo_with_alt.photo, alt: photo_with_alt.alt, class: "u-photo" if photo_with_alt.photo.attached? %>
          </div>
        <% end %>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <div>
      <%= format_content(entry) %>
    </div>
  </div>

  <%= link_to entry_path(entry), class: "u-url" do %>
    <time class="dt-published" datetime="<%= entry.created_at.iso8601 %>"><%= l(entry.created_at, format: :short) %></time>
  <% end %>
  <% if entry.categories.any? %>
    <div>
      <% entry.categories.each do |category| %>
        <span class="p-category"><%= category.name %></span>
      <% end %>
    </div>
  <% end %>
</article>
