<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= blog.subdomain %>
  </p>

  <p>
    <strong>Custom domain:</strong>
    <%= blog.custom_domain %>
  </p>

  <p>
    <strong>Authorization endpoint:</strong>
    <%= blog.authorization_endpoint %>
  </p>

  <p>
    <strong>Token endpoint:</strong>
    <%= blog.token_endpoint %>
  </p>

  <p>
    <strong>Micropub endpoint:</strong>
    <%= micropub_url(subdomain: blog.subdomain) %>
  </p>

  <p>
    <strong>Rel Me:</strong>
    <%= blog.user.email %>
  </p>

  <p>
    <strong>Protected by password:</strong>
    <%= blog.password_protected? %>
  </p>
</div>
