<!DOCTYPE html>
<html>
  <head>
    <title>Indieweb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <ul>
          <li>
            <%= current_user.name %>
          </li>
          <li>
            <%= link_to "Blogs", blogs_path %>
          </li>
          <li>
            <%= button_to "Sign out", sign_out_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <% if Rails.env.development? %>
          <%= button_to "Sign in with Developer", "/auth/developer", data: { turbo: false } %>
        <% end %>
        <%= button_to "Sign in with CDS", "/auth/cds", data: { turbo: false } %>
      <% end %>
    </div>

    <% if alert %>
      <div style="color: red"><%= alert %></div>
    <% end %>

    <% if notice %>
      <div style="color: green"><%= notice %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
