<!DOCTYPE html>
<html>
  <head>
    <title><%= @blog.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= tag(:link, rel: "authorization_endpoint", href: @blog.authorization_endpoint) %>
    <%= tag(:link, rel: "token_endpoint", href: @blog.token_endpoint) %>
    <%= tag(:link, rel: "micropub", href: micropub_url(subdomain: @blog.subdomain)) %>
    <%= tag(:link, rel: "me", href:"mailto:#{@blog.user.email}") %>
  </head>

  <body>
    <div>
      <h1><%= link_to @blog.title, root_url(subdomain: @blog.subdomain) %></h1>
      <%= yield %>
    </div>
  </body>
</html>
